<table style="text-align:right">
<tbody>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="font-weight:bold">Lang-split</td><td style="font-weight:bold">Sentences</td><td style="font-weight:bold">Tokens</td><td style="font-weight:bold">Avg. length</td><td style="font-weight:bold">VMWE</td><td style="font-weight:bold">VID</td><td style="font-weight:bold">IRV</td><td style="font-weight:bold">LVC.full</td><td style="font-weight:bold">LVC.cause</td><td style="font-weight:bold">VPC.full</td><td style="font-weight:bold">VPC.semi</td><td style="font-weight:bold">IAV</td><td style="font-weight:bold">MVC</td><td style="font-weight:bold">LS.ICV</td><td style="font-weight:bold"></td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">DE-train  </td><td>6568</td><td>126830</td><td>19.3</td><td>2950</td><td>1039</td><td>249</td><td>212</td><td>24</td><td>1286</td><td>140</td><td>0</td><td>0</td><td>0</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">DE-dev  </td><td>602</td><td>11756</td><td>19.5</td><td>267</td><td>95</td><td>14</td><td>26</td><td>2</td><td>122</td><td>8</td><td>0</td><td>0</td><td>0</td></tr>
<tr><td style="text-align:left">DE-test  </td><td>1826</td><td>34976</td><td>19.1</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">DE-Total</td><td>8996</td><td>173562</td><td>19.2</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">EL-train  </td><td>17733</td><td>479679</td><td>27</td><td>6155</td><td>1933</td><td>0</td><td>3982</td><td>101</td><td>96</td><td>0</td><td>0</td><td>43</td><td>0</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">EL-dev  </td><td>909</td><td>23911</td><td>26.3</td><td>315</td><td>98</td><td>0</td><td>203</td><td>5</td><td>4</td><td>0</td><td>0</td><td>5</td><td>0</td></tr>
<tr><td style="text-align:left">EL-test  </td><td>2805</td><td>75442</td><td>26.8</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">EL-Total</td><td>21447</td><td>579032</td><td>26.9</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">EU-train  </td><td>4440</td><td>61867</td><td>13.9</td><td>1690</td><td>347</td><td>0</td><td>1261</td><td>82</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">EU-dev  </td><td>1418</td><td>20509</td><td>14.4</td><td>536</td><td>127</td><td>0</td><td>383</td><td>26</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
<tr><td style="text-align:left">EU-test  </td><td>5300</td><td>75431</td><td>14.2</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">EU-Total</td><td>11158</td><td>157807</td><td>14.1</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">FR-train  </td><td>14377</td><td>360070</td><td>25</td><td>3870</td><td>1494</td><td>1037</td><td>1253</td><td>70</td><td>0</td><td>0</td><td>0</td><td>16</td><td>0</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">FR-dev  </td><td>1573</td><td>39502</td><td>25.1</td><td>425</td><td>157</td><td>117</td><td>144</td><td>5</td><td>0</td><td>0</td><td>0</td><td>2</td><td>0</td></tr>
<tr><td style="text-align:left">FR-test  </td><td>5011</td><td>126420</td><td>25.2</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">FR-Total</td><td>20961</td><td>525992</td><td>25</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">GA-train  </td><td>257</td><td>6242</td><td>24.2</td><td>100</td><td>14</td><td>0</td><td>35</td><td>23</td><td>2</td><td>2</td><td>24</td><td>0</td><td>0</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">GA-dev  </td><td>322</td><td>7020</td><td>21.8</td><td>126</td><td>22</td><td>0</td><td>29</td><td>22</td><td>6</td><td>5</td><td>42</td><td>0</td><td>0</td></tr>
<tr><td style="text-align:left">GA-test  </td><td>1121</td><td>25954</td><td>23.1</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">GA-Total</td><td>1700</td><td>39216</td><td>23</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">HE-train  </td><td>14152</td><td>286262</td><td>20.2</td><td>1864</td><td>825</td><td>0</td><td>765</td><td>166</td><td>108</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">HE-dev  </td><td>1254</td><td>25392</td><td>20.2</td><td>166</td><td>64</td><td>0</td><td>80</td><td>13</td><td>9</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
<tr><td style="text-align:left">HE-test  </td><td>3794</td><td>76827</td><td>20.2</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">HE-Total</td><td>19200</td><td>388481</td><td>20.2</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">HI-train  </td><td>282</td><td>5764</td><td>20.4</td><td>175</td><td>11</td><td>0</td><td>109</td><td>3</td><td>0</td><td>0</td><td>0</td><td>52</td><td>0</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">HI-dev  </td><td>289</td><td>6272</td><td>21.7</td><td>186</td><td>11</td><td>0</td><td>126</td><td>0</td><td>0</td><td>0</td><td>0</td><td>49</td><td>0</td></tr>
<tr><td style="text-align:left">HI-test  </td><td>1113</td><td>23394</td><td>21</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">HI-Total</td><td>1684</td><td>35430</td><td>21</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">IT-train  </td><td>10641</td><td>292065</td><td>27.4</td><td>2854</td><td>999</td><td>783</td><td>502</td><td>112</td><td>74</td><td>2</td><td>343</td><td>19</td><td>20</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">IT-dev  </td><td>1202</td><td>32652</td><td>27.1</td><td>324</td><td>109</td><td>81</td><td>52</td><td>18</td><td>11</td><td>0</td><td>44</td><td>4</td><td>5</td></tr>
<tr><td style="text-align:left">IT-test  </td><td>3885</td><td>106072</td><td>27.3</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">IT-Total</td><td>15728</td><td>430789</td><td>27.3</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">PL-train  </td><td>17731</td><td>298437</td><td>16.8</td><td>5398</td><td>629</td><td>2723</td><td>1807</td><td>239</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PL-dev  </td><td>1425</td><td>23950</td><td>16.8</td><td>443</td><td>49</td><td>219</td><td>162</td><td>13</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
<tr><td style="text-align:left">PL-test  </td><td>4391</td><td>73753</td><td>16.7</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">PL-Total</td><td>23547</td><td>396140</td><td>16.8</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">PT-train  </td><td>23905</td><td>542497</td><td>22.6</td><td>4777</td><td>945</td><td>763</td><td>2960</td><td>98</td><td>0</td><td>0</td><td>0</td><td>11</td><td>0</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PT-dev  </td><td>1976</td><td>43676</td><td>22.1</td><td>397</td><td>80</td><td>73</td><td>236</td><td>6</td><td>0</td><td>0</td><td>0</td><td>2</td><td>0</td></tr>
<tr><td style="text-align:left">PT-test  </td><td>6236</td><td>142377</td><td>22.8</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">PT-Total</td><td>32117</td><td>728550</td><td>22.6</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">RO-train  </td><td>10920</td><td>195718</td><td>17.9</td><td>1218</td><td>304</td><td>771</td><td>108</td><td>35</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">RO-dev  </td><td>7714</td><td>134340</td><td>17.4</td><td>818</td><td>228</td><td>504</td><td>56</td><td>30</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
<tr><td style="text-align:left">RO-test  </td><td>38069</td><td>685566</td><td>18</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">RO-Total</td><td>56703</td><td>1015624</td><td>17.9</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">SV-train  </td><td>1605</td><td>24970</td><td>15.5</td><td>752</td><td>105</td><td>41</td><td>95</td><td>6</td><td>345</td><td>160</td><td>0</td><td>0</td><td>0</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">SV-dev  </td><td>596</td><td>8889</td><td>14.9</td><td>270</td><td>40</td><td>24</td><td>42</td><td>0</td><td>108</td><td>56</td><td>0</td><td>0</td><td>0</td></tr>
<tr><td style="text-align:left">SV-test  </td><td>2103</td><td>31623</td><td>15</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">SV-Total</td><td>4304</td><td>65482</td><td>15.2</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">TR-train  </td><td>17945</td><td>267503</td><td>14.9</td><td>6212</td><td>3351</td><td>0</td><td>2858</td><td>0</td><td>0</td><td>0</td><td>0</td><td>3</td><td>0</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">TR-dev  </td><td>1062</td><td>15935</td><td>15</td><td>367</td><td>187</td><td>0</td><td>179</td><td>0</td><td>0</td><td>0</td><td>0</td><td>1</td><td>0</td></tr>
<tr><td style="text-align:left">TR-test  </td><td>3304</td><td>48791</td><td>14.7</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">TR-Total</td><td>22311</td><td>332229</td><td>14.8</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">ZH-train  </td><td>35326</td><td>575590</td><td>16.2</td><td>8113</td><td>676</td><td>0</td><td>927</td><td>148</td><td>0</td><td>3156</td><td>0</td><td>3206</td><td>0</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">ZH-dev  </td><td>1141</td><td>18258</td><td>16</td><td>265</td><td>18</td><td>0</td><td>33</td><td>6</td><td>0</td><td>108</td><td>0</td><td>100</td><td>0</td></tr>
<tr><td style="text-align:left">ZH-test  </td><td>3462</td><td>55728</td><td>16</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td><td>TBA</td></tr>
<tr style="height:1px; background-color: #d5d5d5;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">ZH-Total</td><td>39929</td><td>649576</td><td>16.2</td><td>9164</td><td>757</td><td>0</td><td>1054</td><td>167</td><td>0</td><td>3564</td><td>0</td><td>3622</td><td>0</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
<tr><td style="text-align:left">Total    </td><td>279785</td><td>5517910</td><td>19.7</td><td>68503</td><td>18553</td><td>11571</td><td>24574</td><td>1809</td><td>3018</td><td>4204</td><td>680</td><td>4057</td><td>37</td></tr>
<tr style="height:2px; background-color: #222222;"><td colspan="14"></td></tr>
</tbody>
</table>
