/*************************************
 * TITLE: Sinorca Screen Stylesheet  *
 * URI  : sinorca/sinorca-screen.css *
 * MODIF: 2005-May-19 21:26 +0800    *
 *************************************/


/* ##### Common Styles ##### */

body {
  color: black;
  background-color: rgb(255,255,255);
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 71%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
}

html > body {
  font-size: 8.5pt;
}

acronym, .titleTip {
  border-bottom: 1px dotted rgb(153,153,153);
  cursor: help;
  margin: 0;
  padding: 0 0 0.4px 0;
}

.doNotDisplay {
  display: none;
}

.smallCaps {
  font-size: 110%;
  font-variant: small-caps;
}

img {
  border: 0;
}

/* ##### Header ##### */

.superHeader {
  color: black;
  background: url(../images/back1.gif) rgb(137,135,135) repeat-x left top;
  border: 1px solid rgb(107,107,107);
  height: 2em;
}

.superHeader a {
  color: rgb(30,30,30);
  background-color: transparent;
  text-decoration: none;
  font-size: 91%;
  margin: 0;
  padding: 0 0.5ex 0 0.25ex;
}

.superHeader a:hover {
  text-decoration: underline;
}

.superHeader .left {
  position: absolute;
  left: 1.5mm;
  top: 0.75ex;
}

.superHeader .right {
  position: absolute;
  right: 1.5mm;
  top: 0.75ex;
}

.midHeader {
  color: rgb(39,78,144);
  background: url(../images/back2.gif) rgb(133,131,131) repeat-x left top;
}

.headerTitle {
  font-size: 337%;
  font-weight: normal;
  margin: 0 0 0 4mm;
  padding: 0.25ex 0;
}

.subHeader {
  color: white;
  background: url(../images/back3.gif) rgb(2,2,2) repeat-x left top;
  border: 1px solid black;
  margin: 0;
  padding: 1ex 1ex 1ex 1.5mm;
}

.subHeader a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 0.75ex 0 0.5ex;
}

.subHeader a:hover {
  text-decoration: underline;
}

.superHeader .highlight, .subHeader .highlight {
  color: rgb(253,160,91);
  background-color: transparent;
}


/* ##### Side Bar ##### */

#side-bar {
  width: 15em;
  float: left;
  clear: left;
  border-right: 1px solid rgb(214,214,214);
  background: url(../images/back5.gif) repeat-y center top;
}

.sideBarTitle {
  font-weight: bold;
  margin: 0 0 0.5em 2.5mm;
  padding: 1em 0 0 0;
}

#side-bar div.sideBarBlock {
  border-right: 1px solid rgb(153,153,153);
  border-top: 1px solid rgb(153,153,153);
  border-bottom: 1px solid rgb(153,153,153);
  margin: 0.5em 0 0 0;
}

#side-bar div.sideBarFirstBlock {
  border-right: 1px solid rgb(153,153,153);
  border-bottom: 1px solid rgb(153,153,153);
  margin: 0 0 0 0;
}

#side-bar ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0 0 0.5em 0;
}

#side-bar li {
  margin: 0;
  padding: 0.1ex 0;  /* Circumvents a rendering bug (?) in MSIE 6.0 */
}

#side-bar a, .thisPage {
  color: rgb(30,30,30);
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0.6em 1ex 0.6em 5mm;
  display: block;
}

.thisPage {
  color: black;
  background-color: white;
  padding-left: 4mm;
  border-top: 1px solid rgb(153,153,153);
  border-bottom: 1px solid rgb(153,153,153);
}

#side-bar a.mainNav {
	font-weight: bold;
	color: rgb(39,78,144);
}

#side-bar a.mainNavThis {
	font-weight: bold;
  border-top: 1px solid rgb(153,153,153);
  border-bottom: 1px solid rgb(153,153,153);
}

#side-bar a.subNav {
	padding: 0.4em 1ex 0.4em 8mm;
}

#side-bar a.subNavThis {
	padding: 0.4em 1ex 0.4em 8mm;
	font-size: 100%;
	font-weight: bold;
	color: rgb(60,60,60);
}

#side-bar ul li a:hover {
  background: url(../images/back1.gif) rgb(137,135,135) repeat-x left top;
  text-decoration: none;
}

.sideBarText {
  line-height: 1.5em;
  margin: 0 0 0 0;
  padding: 0 1.5ex 0 2.5mm;
  display: block;
}

#side-bar .sideBarText a {
  text-decoration: underline;
  color: rgb(0,90,180);
  margin: 0;
  padding: 0;
  display: inline;
}

#side-bar .sideBarText a:hover {
  color: rgb(0,90,180);
  background-color: transparent;
  text-decoration: none;
}

.lighterBackground {
  color: inherit;
  background-color: white;
}


/* ##### Text blocks on right-hand side ##### */

#right-blocks {
  width: 15em;
  padding: 0 0 0 1em;
  float: right;
  clear: right;
  border: none;
}

#right-blocks div.rightBlock {
  border: 2px solid rgb(136,136,136);
  background: url(../images/back4a.gif) rgb(153,153,153) repeat-x left top;
  padding: 1mm 0.5em 1mm 0.5em;
  margin: 1em 0.5em 1.5em 0.5em;
}

#right-blocks .rightBlockTitle {
  font-weight: bold;
  margin: 0 0 0.5em 0;
  padding: 0 0 0.25em 0;
  border-bottom: 1px solid rgb(136,136,136);
}

#right-blocks .rightBlockText {
  line-height: 1.3em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: block;
}

#right-blocks .rightBlockText p {
	margin: 0.5em 0 0 0;
}

#right-blocks .rightBlockText ul,ol {
	margin: 0.5em 1em 0.5em 0;
	padding: 0 0 0 0;
}

#right-blocks .rightBlockText ul {
	list-style-type: square;
}

#right-blocks .rightBlockText li {
	margin-left: 2em;
	padding-left: 0em;
}

/* ##### Main Copy ##### */

#main-copy {
  color: black;
  background-color: white;
  text-align: justify;
  line-height: 1.5em;
  margin: 0 0 0 15em;
  padding: 0.5mm 5mm 5mm 5mm;
/*  border-left: 1px solid rgb(153,153,153); */
}

/* adjust line height in headings to different font size (otherwise IE6 squeezes lines together) */
#main-copy h1, #main-copy h2, #main-copy h3 {
	line-height: 1.5em;
}

#main-copy p {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

#main-copy a {
  color: rgb(0,90,180);
  background-color: transparent;
  text-decoration: underline;
}

#main-copy a:hover {
  text-decoration: none;
}

#main-copy h1 {
  color: rgb(60,60,60);
  background: url(../images/back1.gif) rgb(137,135,135) repeat-x left top;
  border: 1px solid rgb(153,153,153);
  font-size: 100%;
  font-weight: bold;
  margin: 3em 0 0 0;
  padding: 0.5ex 0 0.5ex 1ex;
}

#main-copy .topOfPage {
  color: white;
  background-color: transparent;
  font-size: 91%;
  font-weight: bold;
  text-decoration: none;
  margin: 2.5ex 1ex 0 0;  /* For MSIE */
  padding: 0;
  float: right;
}

#main-copy > .topOfPage {
  margin: 2.75ex 1ex 0 0;  /* For fully standards-compliant user agents */
}

#main-copy ol {
	margin-left: 4em; /* for some reason, ordered lists are not properly indented in Safari and Firefox */
}

dl {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0;
}

dd {
  margin: 0 0 2em 2em;
  padding: 0;
}

pre {
	font-family: courier, "courier new", monospace;
	font-size: 110%;
	margin-left: 2em;
	margin-right: 2em;
	padding: 1mm 2mm 1mm 2mm;
	border: 1px solid rgb(39,78,144);
	background-color: rgb(240,255,255);
}

code, tt {
	font-family: courier, "courier new", monospace;
	font-size: 110%;
}

/* ##### Footer ##### */

#footer {
  color: black;
  background: url(../images/back4.gif) rgb(138,136,136) repeat-x left top;
  border: 1px solid rgb(104,104,104);
  font-size: 91%;
  margin: 0;
  padding: 1em 2.5mm 2.5ex 2.5mm;
  clear: both;
}

#footer .left {
  line-height: 1.45em;
  float: left;
  clear: left;
}

#footer .right {
  text-align: right;
  line-height: 1.45em;
}

#footer a {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

#footer a:hover {
  text-decoration: none;
}
