/**********************************
 * TITLE: Gila Screen Stylesheet  * 
 * URI  : gila/gila-screen.css    *
 * MODIF: 2003-Apr-30 19:09 +0800 *
 **********************************/


/* ##### Common Styles ##### */

body {
  color: black;
  background-color: white;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 73%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
}

html > body {
  font-size: 9pt;
}

acronym, .titleTip {
  border-bottom: 1px dotted rgb(168,140,83);
  cursor: help;
  margin: 0;
  padding: 0;
}

.doNotDisplay {
  display: none !important;
}


.smallCaps {
  font-size: 117%;
  font-variant: small-caps;
}


/* ##### Header ##### */

#header {
  color: inherit;
  background-color: rgb(184,38,25);
}

.headerTitle {
  margin: 0;
  padding: 0.25em 4mm 0.25em 4mm;
}

.headerTitle a {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: 110%;  /* For MSIE */
  font-weight: bold;
  font-style: italic;
}

.headerTitle > a {
  font-size: 138%;  /* For fully standards-compliant user agents */
}

.headerTitle span {
  color: white;
  background-color: transparent;
  font-weight: normal;
}

.subHeader {
  color: white;
  background-color: black;
  font-size: 109%;
  text-align: center;
  margin: 0;
  padding: 0.5ex 0;
}

.subHeader a {
  color: white;
  background-color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 1ex;
}

.subHeader a:hover {
  color: rgb(255,0,0);
}

.subHeader .highlight {
  color: black;
  background-color: white;
}


/* ##### Left Side Bar ##### */

.leftSideBar {
  width: 14.5em;
  background-color: rgb(243,242,235);
  border-right: 1px solid rgb(216,210,195);
  border-bottom: 1px solid rgb(216,210,195);
  float: left;
  clear: left;
}

.leftSideBar .sideBarTitle {
  color: rgb(64,64,64);
  background-color: rgb(230,223,207);
  font-weight: bold;
  margin: 0;
  padding: 0.8ex 1ex;
}

.leftSideBar ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0 0 0em 0;
  padding: 0;
}

.leftSideBar li {
  margin: 1ex;
  padding: 0 0 1ex 0.75ex;
}

.leftSideBar a {
  color: rgb(144,117,66);
  background-color: transparent;
  text-decoration: none;
}

.leftSideBar a:hover {
  color: rgb(64,64,64);
  background-color: transparent;
  text-decoration: none;
}

.leftSideBar .sideBarText {
  color: rgb(64,64,64);
  background-color: transparent;
  line-height: 1.25em;
  margin: 1ex 0.25ex 1ex 0.75ex;
  padding: 0;
  display: block;
}

.leftSideBar .sideBarText a {
  text-decoration: underline;
}

.leftSideBar .sideBarText a:hover {
  text-decoration: none;
}

.leftSideBar .mainNavThis {
	color: rgb(64,64,64);
}

.leftSideBar .subNavThis {
  color: rgb(64,64,64);
  background-color: transparent;
  font-weight: bold;
}

.leftSideBar .sideBarBlock {
	margin: 1em 1em 1em 1em;
	background-color: white;
	border: 1px solid rgb(216,210,195);
}

/* ##### Right Side Bar ##### */

.rightSideBar {
  width: 13em;
  margin: 2ex 0.75ex 0 0;
  padding: 0;
  float: right;
  clear: right;
  border: 1px solid rgb(216,210,195);
}

[class~="rightSideBar"] {
  margin-right: 1.5ex;
}

.rightSideBar .sideBarTitle {
  color: black;
  background-color: rgb(230,223,207);
  font-weight: bold;
  margin: 1.25ex 1ex;
  padding: 0.9ex 1ex;
}

.rightSideBar a {
  color: rgb(166,140,83);
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}

.rightSideBar a:hover {
  text-decoration: none;
}

.rightSideBar .sideBarText {
  line-height: 1.5em;
  margin: 0;
  padding: 0 2ex 1em 2ex;
}

.rightSideBar .more {
  text-decoration: none;
  text-align: right;
  margin: 0;
  padding: 0 2ex 1em 2ex;
  display: block;
}

.rightSideBar .more:hover {
  text-decoration: underline;
}


/* ##### Main Copy ##### */

#main-copy {
  color: black;
  background-color: white;
  text-align: justify;
  line-height: 1.5em;
  margin: 0 0 0 14.5em;
  padding: 0.5ex 15em 1em 1em;
}

/* adjust line height in headings to different font size (otherwise IE6 squeezes lines together) */
#main-copy h1, #main-copy h2, #main-copy h3 {
	line-height: 1.5em;
}

#main-copy h1 {
  color: rgb(140,100,50);
  background-color: transparent;
  font-family: arial, tahoma, verdana, helvetica, sans-serif;
  font-size: 140%;
  font-weight: bold;
  text-align: left;
  margin: 0.75em 0 0 0;
  padding: 0.75em 0 0 0;
  border-top: 1px solid rgb(216,210,195);
}

#main-copy h2, h3 {
	color: rgb(64,64,64);
}

#main-copy a {
  color: rgb(140,100,50);
  background-color: transparent;
  text-decoration: underline;
}

#main-copy a:hover {
  text-decoration: none;
}

p {
  margin: 1em 0 1.5em 0;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0;
  padding: 0 0 0.5ex 0;
}

dd {
  margin: 0 0 1.5em 1.5em;
  padding: 0;
}

pre {
	font-family: courier, "courier new", monospace;
	font-size: 110%;
	margin-left: 2em;
	margin-right: 2em;
	padding: 1mm 2mm 1mm 2mm;
	border: 1px solid rgb(216,210,195);
	background-color: rgb(243,242,235);;
}

code, tt {
	font-family: courier, "courier new", monospace;
	font-size: 110%;
}

a.external:after {
	content: " " url(link_external.png);
}

/* ##### Footer ##### */

#footer {
  color: black;
  background-color: rgb(230,223,207);
  border-top: 1px solid rgb(216,210,195);
  font-size: 92%;
  text-align: center;
  line-height: 1.25em;
  margin: 0;
  padding: 1em 4mm 1em 4mm;
  clear: both;
}

#footer div {
  margin: 0;
  padding: 0 0 1ex 0;
}

#footer a {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}

#footer a:hover {
  text-decoration: none;
}